.top-nav {
	display: flex;
	justify-content: center;
	padding: 1em;
	margin-bottom: 2em;
}

.product-input {
	border-radius: 8px;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	color: #fff;
	width: 50%;
	min-width: 60%;
}
