.product-view {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5rem;
	flex-wrap: wrap;
}

.image-wrapper {
	width: 160px;
}
.preview-img {
	height: auto;
	width: auto;
	max-width: 160px;
	max-height: 160px;
}
