.top-nav {
	display: flex;
	justify-content: center;
	padding: 1em;
	margin-bottom: 2em;
}

.product-input {
	border-radius: 8px;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	color: #fff;
	width: 50%;
}

.product-view {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.preview-img {
	height: auto;
	width: auto;
	max-width: 160px;
	max-height: 160px;
}

.tracked-products {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
